body{
    margin: 0;
    font-family: 'Roboto', sans-serif, 'Alfa Slab One', 'Poppins';
}
.first-section h1{
    font-size: 50px;
    border-left: 4px solid cyan;
    padding-left: 10px;
}
.my-name{
    color: #356085;
}
.dummy{
    color: rgba(0, 0, 0, 0.712);
    font-weight: 500;
}
.half-width{
    width: 40%;
    margin-top: 2%;
}
.parent{
    display: flex;
}
#child-1{
    margin-left: 8%;
    margin-right: 2%;
    padding-top: 5%;
}
#chils-2{
    margin-left: 2%;
    margin-right: 8%;
}
.heading-image{
    width: 100%;
}
.hire-button{
    text-decoration: none;
    background-image: linear-gradient( rgba(0, 0, 255, 0.76), cyan);
    padding: 10px 30px;
    color: white;
    border-radius: 8px;
}
.misson-heading{
    text-align: center;
    font-size: 30px;
}
.item{
    width: 27%;
    padding: 2%;
    border-radius: 30px;
}
#item-1{
    margin-left: 8%;
    background-color: rgba(0, 255, 255, 0.082);
}
#item-2{
    margin: 0 2%;
    background-color: rgba(153, 50, 204, 0.13);
}
#item-3{
    margin-right: 8%;
    background-color: rgba(233, 150, 122, 0.192);
}
.item img{
    width: 45%;
}